:root {
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--blue: hsl(221, 83.2%, 53.3%);
	--lightgrey: hsl(220, 13%, 91%);
}

body {
	background: var(--lightgrey);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 16px 24px;
}

header h1 {
	font-size: 24px;
}

header > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid var(--white);
}

.blog-content {
	margin-bottom: 65px;
	padding: 24px;
}

.blog-content .post {
	padding: 24px 12px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 12px;
	background: var(--white);
	border-radius: 8px;
}

.post-head {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	gap: 12px;
}
.post-head img {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.post-head h1 {
	font-size: 16px;
}

.post-body {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 8px;
}

.post-body h6 {
	font-size: 20px;
}

.post-body article {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 8px;
	padding: 6px 12px;
}

.post-body article img {
	display: block;
	width: 100%;
	border-radius: 8px;
}

footer {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 12px;
	width: 100%;
}

footer article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	background: var(--white);
	padding: 24px;
	border-radius: 24px;
	margin-inline: auto;
}

footer article i {
	font-size: 20px;
	color: var(--black);
}
